<app-admin-header></app-admin-header>
<app-admin-sidebar></app-admin-sidebar>

<!-- Main Wrapper -->
<main class="main-wrapper">
  <div class="container-fluid">
    <div class="inner-contents">
      <div class="page-header d-flex align-items-center justify-content-between mr-bottom-30">
        <div class="left-part">
          <h2 class="text-dark">Ajouter une Fiche de Paie</h2>
          <p class="text-gray mb-0">Veuillez remplir les informations ci-dessous pour ajouter une nouvelle fiche de paie.</p>
        </div>
      </div>

      <!-- Formulaire d'ajout -->
      <div class="card border-0 p-5">
        <div class="card-header bg-transparent border-0 p-0 d-flex align-items-center justify-content-between gap-3">
          <h6 class="mb-0">Détails de la Fiche de Paie</h6>
        </div>

        <div class="card-body p-0 pt-4">
          <form (ngSubmit)="onSubmit()" #payrollForm="ngForm">
            <!-- Sélectionner l'employé -->
            <div class="form-group">
              <label class="form-label" for="employeeId">Employé</label>
              <select class="form-control" id="employeeId" [(ngModel)]="payroll.employeeId" name="employeeId" required>
                <option value="">Sélectionner un Employé</option>
                <option *ngFor="let employee of employees" [value]="employee.id">{{ employee.name }}</option>
              </select>
            </div>

            <div class="form-group">
              <label class="form-label" for="salary">Salaire</label>
              <input type="number" class="form-control" id="salary" [(ngModel)]="payroll.salary" name="salary" placeholder="Salaire" required />
            </div>

            <div class="form-group">
              <label class="form-label" for="bonus">Bonus</label>
              <input type="number" class="form-control" id="bonus" [(ngModel)]="payroll.bonus" name="bonus" placeholder="Bonus" />
            </div>

            <div class="form-group">
              <label class="form-label" for="payDate">Date de Paiement</label>
              <input type="date" class="form-control" id="payDate" [(ngModel)]="payroll.payDate" name="payDate" required />
            </div>

            <div class="button_group">
              <button type="submit" class="btn btn-primary" [disabled]="payrollForm.invalid">Ajouter la Fiche de Paie</button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</main>

<app-admin-footer></app-admin-footer>
